$main-color:#fbfbfb;
$bg-light:#fff;
$dark-color:#3a3a3a;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    transition: all 1s ease-in-out;
    &.Day{
        background-color: $main-color;
    }
    &.Night{
        background-color: $dark-color;
    }
}
img{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}