$main-color:#fbfbfb;
$bg-light:#fff;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: $main-color;
}
img{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}