svg{
    width: 20px;
    height: 20px;
}
.d-none{
    display: none !important;
}
.lg-hidden{
    display: none !important;
}
.navbar{
    display: flex;
    max-width: 1440px;
    background: #fff;
    padding: 18px 45px;
    border-bottom: 1px solid #eee;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    .logo{
        h2{
            font-size: 20px;
            font-weight: 500;
            color: #374151;        
        }
    }
    .menu{
        display: flex;
        align-items: center;
        gap: 35px;
        .menu-item{
            .menu-link{
                font-size: 1rem;
                line-height: 1.5rem;
                color: #374151;
                display: flex;
                align-items: center;
                text-transform: capitalize;
                &.btn{
                    background-color: #273239;
                    color: white;
                    padding: 8px 27px;
                    border-radius: 5px;
                    font-size: 14px;
                }
            }
        }

    }
}

@media (max-width:768px){
    .sm-none{
        display: none;
    }
    .lg-hidden{
        display: block !important;
    }
    .navbar{
        padding: 18px;
        .menu{
            align-items: normal;        
        &.menu-group{
            position: absolute;
            inset: 67px 0 auto;
            flex-direction: column;
            background: #fff;
            z-index: 1;
            width: 100%;
            height: 0px;
            gap: 0;
            visibility: hidden;
            transition: height 2s ease-in;            
            border-bottom: 1px solid #eeeeee;
            box-shadow: 0px 2px 3px #00000045;
            &.active{
                height: auto;
                visibility: visible;
            transition: height 2s ease-in;            

            }
            .menu-item{
                .menu-link{
                    display: block;
                    padding: 10px 20px;
                }
            }

        
        
        }
        }
    }
}