.form-body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    .form-box{
        min-width: 400px;
        background-color: #fff;
        box-shadow: 2px 6px 12px #00000025;
        padding: 20px;
        .form-header{
            padding: 10px;
            h3{
                font-size: 20px;
                font-weight: 500;
                &::after{
                    content: '';
                    width: 60px;
                    height: 3px;
                    display: block;
                    background-color: #273239;
                }
            }
        }
        .form-inner-body{
            padding: 10px;
            .input-group{
                position: relative;
                margin-bottom: 12px;
                input{
                    width: 100%;
                    padding: 12px;
                    border-radius: 4px;
                    border: 2px solid #273239;
                    &:focus-within ~ label,
                    &:valid ~ label{
                        top: -10px;
                        font-size: 14px;
                        left: 12px;
                        color: #273239;
                        background: #fff;
                        padding: 0px 5px;
                    }
                }
                .btn{
                    background-color: #273239;
                    color: white;
                    padding: 12px 27px;
                    border-radius: 5px;
                    font-size: 16px;
                    border: none;
                    outline: none;
                    width: 100%;
                    transition: all 0.5s linear;
                    &:hover{
                        background-color: #14191d80;
                    }
                }
                label{
                    transition: all 0.25s linear;
                    position: absolute;
                    pointer-events: none;
                    font-size: 16px;
                    top: 12px;
                    left: 16px;
                    color: #777;
                }
            }
        }
    }
}